.navigation-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation-menu li{
    margin: 0px 20px;
}
.navigation-menu li a{
    text-decoration: none;
    color: white;
}
/* moblie view */
.moblie-navigation{
    list-style: none;
}
.moblie-navigation li{
    margin-top: 20px;
}
.moblie-navigation li a{
    text-decoration: none;
    font-size: 1.4 rem;
    color: black;
}